#bgcontainer {
  background-size: cover;
  background: url("bgimg.png");
}
* {
  font-family: "Acme", sans-serif;
}
.bounce2 {
  animation: bounce2 2.5s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#newscard {
  background: linear-gradient(-45deg, #fd5c3f, #f6fa0b, #8cf844, #75efff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
